@import "tailwindcss";
@import "./colors.css";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-background-primary: var(--background-primary);
  --color-background-secondary: var(--background-secondary);
  --color-background-tertiary: var(--background-tertiary);
  --color-ios-red: var(--ios-red);
  --color-ios-orange: var(--ios-orange);
  --color-ios-yellow: var(--ios-yellow);
  --color-ios-green: var(--ios-green);
  --color-ios-mint: var(--ios-mint);
  --color-ios-teal: var(--ios-teal);
  --color-ios-cyan: var(--ios-cyan);
  --color-ios-blue: var(--ios-blue);
  --color-ios-indigo: var(--ios-indigo);
  --color-ios-purple: var(--ios-purple);
  --color-ios-pink: var(--ios-pink);
  --color-ios-brown: var(--ios-brown);
  --color-gray-1: var(--gray-1);
  --color-gray-2: var(--gray-2);
  --color-gray-3: var(--gray-3);
  --color-gray-4: var(--gray-4);
  --color-gray-5: var(--gray-5);
  --color-gray-6: var(--gray-6);
  --color-label-primary-color: var(--label-primary-color);
  --color-label-secondary-color: var(--label-secondary-color);
  --color-separator-opaque-color: var(--separator-opaque-color);
  --color-separator-non-opaque-color: var(--separator-non-opaque-color);
  --color-fill-color: var(--fill-color);
  --color-label-primary: var(--label-primary);
  --color-label-secondary: var(--label-secondary);
  --color-label-tertiary: var(--label-tertiary);
  --color-label-quaternary: var(--label-quaternary);
  --color-fill-primary: var(--fill-primary);
  --color-fill-secondary: var(--fill-secondary);
  --color-fill-tertiary: var(--fill-tertiary);
  --color-fill-quaternary: var(--fill-quaternary);
  --color-fill-opaque: var(--fill-opaque);
  --color-separator-opaque: var(--separator-opaque);
  --color-separator-non-opaque: var(--separator-non-opaque);
}

@theme {
  --shadow-elevation-high: 0 20px 76px 0 rgba(0, 0, 0, 0.2);
  --shadow-elevation-medium: 0 10px 60px 0 rgba(0, 0, 0, 0.1);
}