@utility full-bleed {
  @apply -translate-x-1/2 left-1/2 w-screen;
  /* optionally add a max-width */
  /* max-width: 1100px; */
}

/* another approach */
@utility flush-width {
  @apply w-screen rounded-none ml-[calc(50%-50vw)] mr-[calc(50%-50vw)];
}
