/**
 * Heavily inspired by base-ui
 * https://github.com/mui/base-ui/blob/master/docs/src/components/Kbd/Kbd.css
 */
@layer components {
  .Kbd {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    margin-inline: 1px;
    font-family: var(--font-jetbrains-mono);
    letter-spacing: -0.015em;
    font-weight: normal;
    vertical-align: text-top;
    white-space: nowrap;

    position: relative;
    top: -0.03em;

    font-size: 0.8em;
    min-width: 1.75em;
    line-height: 1.65em;
    box-sizing: border-box;
    padding-block: 0.025em;
    padding-inline: 0.5em;
    word-spacing: -0.1em;
    border-radius: 0.325em;

    /* Make sure that the height is not stretched in a Flex/Grid layout */
    height: fit-content;

    color: var(--color-neutral-700);
    background-color: var(--color-neutral-50);
    /* white 6 5 4 4*/
    box-shadow:
      inset 0 round(0.05em, 1px) white,
      inset 0 round(0.25em, 1px) round(0.75em, 1px) var(--color-gray-6),
      inset 0 round(-0.05em, 1px) var(--color-gray-3),
      0 0 0 round(0.05em, 1px) var(--color-gray-5);
    /*0 round(0.08em, 1px) round(0.17em, 1px) var(--color-gray-5);*/
  }

  .dark .Kbd {
    text-shadow: #fff8 0 0 1px;
    color: white;
    background-color: black;
    box-shadow:
      inset 0 round(-0.1em, 1px) black,
      inset 0 round(-0.05em, 1px) round(0.75em, 1px) var(--color-gray-5),
      0 0 0 round(0.075em, 1px) var(--color-gray-5),
      inset 0 round(0.05em, 1px) var(--color-gray-2);
  }
}
