/* Component-level styles for the UI package */
@import "tailwindcss" prefix(ui);
@import "@repo/tailwind-config/colors";
@import "@repo/tailwind-config/theme";

@utility corner-squircle {
  /* biome-ignore lint/correctness/noUnknownProperty: it does exisit */
  corner-shape: squircle;
}
@utility tap-highlight-none {
  /* Disable tap highlight */
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* Some Android devices */
}
