/* Component-level styles for the UI package */
@import "tailwindcss" prefix(ui);
@import "@repo/tailwind-config/colors";
@import "@repo/tailwind-config/theme";

@utility corner-squircle {
  /* biome-ignore lint/correctness/noUnknownProperty: it does exisit */
  corner-shape: squircle;
}
